body {
  font-family: 'Passion One', sans-serif;
  background-color: #FFFF9D;
}

#top {
  padding-top: 1em;
  background-color: #BEEB9F;
  padding-bottom:1em;
}

.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 4em;
  margin-bottom:-.1em;
}

.toptitle {
  font-family: 'Passion One', cursive;
  font-size: 1.5em;
  margin-bottom: -.6em;
}

.subtitle {
  font-family: 'Passion One', cursive;
  font-size: 1.5em;
  margin-bottom: -.45em;
}

.title {
  text-align: center;
}

hr.style7 {
  border-top: .5em double #FF6138;
  align-content: center;
  margin: 2em 0 2em 0;
}

a, a:hover, a:visited, a:active {
  color:#000000;
  font-size: 1.2em;
}

#portfolio {
  padding:3em;
  background-color: #79BD8F;
}

.img-fluid {
  height:18em;
  width:100%;
  image-rendering: -moz-crisp-edges;         /* Firefox */
image-rendering:   -o-crisp-edges;         /* Opera */
image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.fixed {
  margin-bottom:1.5em;
}

.items {
transition:.3s;
}

.items img {
  transition:.3s;
}

.items:hover img{
  filter:blur(2px) brightness(60%);
}

.items :not(img){
  position:absolute;
  z-index:1;
  top:35%;
  width:92%;
  text-align:center;
  color:#FFF;
  opacity:0;
  transition:.3s;
  font-family: 'Roboto';
}

.items .caption{
  top:45%
}

.items:hover :not(img){
  opacity:1;
}

#about {
  padding:3em;
  background-color: #00A388;
}

h3 {
  color:#000;
}
