body {
  background-color: black;
  color: white;
  font-family: -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

.temp, .fOrC {
  display: inline-block;
}
