.jumbotron {
  background-color: #062f4f;
}

.navbar-default .navbar-brand {
  color: #FFF;
}
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
  background-color: transparent;
  color: #813775;
}

.navbar {
  border: none;
  border-radius:0;
  background-color: #1d2731;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color:#FFF;
}
.navbar-default .navbar-nav > li > a:hover {
  color:#813772;
}

.roundedcorner {
  border-radius: 10px 10px 0px 0px;
  padding-bottom:25px;
}

.footer-text {
  color: #FFFFFF;
}